<nav class="navbar navbar-light bg-light"  style="background-color: #e3f2fd;">
  <a class="navbar-brand" >
    <img src="../../../assets/todo.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Profile Page
  </a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="logout()">Logout</button>
</nav>

<div class="container">
    <h1>WelCome to Profile Page</h1>
</div>
<!-- <h1>Hello To Profile Page</h1>
<button class="btn btn-danger" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</button> -->